*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #333;
  --font-color: #fff;
  --cross-color: #c49b33;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: monospace;
  color: var(--font-color);
  background-color: var(--bg-color);
}

#root {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.unclickable {
  pointer-events: none;
}

.hidden {
  display: none;
}

.board {
  animation: appear 0.3s ease-in-out 1;
}

.menu {
  text-align: center;
  padding: 5rem;
  border-radius: 0.8rem;
  border: 1px solid var(--font-color);
}

.menu--btn {
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.menu--btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.score {
  font-size: 4rem;
  margin-top: 8rem;
  display: flex;
}

.restart-btn {
  color: var(--font-color);
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.restart-btn:hover {
  cursor: pointer;
}

.row {
  display: flex;
}

@keyframes appear {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

.icon {
  font-size: 10rem;
  color: var(--font-color);
  animation: appear ease-in-out 0.2s 1;
}

.fa-times {
  color: var(--cross-color);
}

.game-btn {
  position: relative;
  width: 17rem;
  height: 17rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.row:nth-child(1) {
  border: 3px solid var(--font-color);
}

.row:nth-child(2),
.row:nth-child(3) {
  border-bottom: 3px solid var(--font-color);
  border-left: 3px solid var(--font-color);
  border-right: 3px solid var(--font-color);
}

.game-btn--1,
.game-btn--2 {
  border-right: 3px solid var(--font-color);
}

.game-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(207, 207, 207);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.game-btn:hover {
  cursor: pointer;
}

.game-btn:hover::before {
  opacity: 0.3;
}
